/* header */

.header {
  background-color: var(--main-color);
  position: relative;
  box-shadow: var(--box-shadow);
  height: 8rem;
}
@media (max-width: 44em) {
  .header {
    height: 11rem;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.header .logo {
  color: var(--main-text-h2);
  font-size: 3.2rem;
  font-weight: bold;
  height: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 44em) {
  .header .logo {
    width: 100%;
    height: 5rem;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
  }
}

.header .main-nav {
  display: flex;
}

@media (max-width: 44em) {
  .header .main-nav {
    margin: auto;
  }
}

.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 8rem;
  color: var(--main-links);
  position: relative;
  overflow: hidden;
  padding: 0 3.2rem;

  font-size: 2.4rem;
  transition: var(--main-transition);
}

@media (max-width: 44em) {
  .header .main-nav > li > a {
    padding: 2rem;
    font-size: 2rem;
    height: 5rem;
  }
}

.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  left: -100%;
  background-color: var(--main-links);
  transition: 0.3s;
}

.header .main-nav > li > a:hover {
  background-color: var(--header-hover);
}

.header .main-nav li:last-child a:hover {
  background-color: var(--main-color);
}

.header .main-nav > li > a:hover::before {
  left: 0;
}

.header .main-nav > li:last-child > a:hover::before {
  left: -100%;
}

.tools-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.tools-nav ion-icon {
  width: 2.4rem;
  height: 12rem;
  display: flex;

  justify-content: center;
  align-items: center;
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 14%;
  width: 60rem;
  height: 45rem;
  overflow: hidden;
  transition: max-height 0.5s;
  display: none;
}

.sub-menu {
  background-color: var(--main-color);
  padding: 1.6rem 2.4rem 1.6rem 2.4rem;
  margin: 1.2rem;
  row-gap: 0;
  margin-top: 0;
  border-bottom: 5px solid var(--main-links);
}

.sub-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--main-links);
  margin: 1.6rem 0 2.4rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 2px solid #e0e0e0;
}

.sub-menu-link:last-child {
  border: none;
}

.sub-menu-link ion-icon {
  width: 4.8rem;
  height: 4.8rem;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link span {
  font-size: 1.4rem;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 700;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--sticky-color);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem var(--sticky-box-shadow);
}

.sticky .main-section {
  margin-top: 9.6rem;
}

/* DARK MODE */

#icon {
  width: 3.2rem;
  height: 3.2rem;
  /* margin-left: 2.4rem;
  margin-right: 2.4rem;
  margin-top: 1rem; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN SECTION */

.main-section {
  padding: 9.6rem 0 25rem 0;
  background-color: var(--box-section-color);
}

/* .main-section .container {
  min-height: calc(100vh - 8rem);
} */

.main-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0rem;
  width: 100%;
  height: 100%;
  background-color: var(--main-section-before);
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}

.main-section1 {
  max-width: 130rem;
  /* margin: 0 auto;
  padding: 0 3.2rem; */
  align-items: center;
}

.main-text-h1 {
  margin-top: 9.6rem;
  font-size: 4.8rem;
  color: var(--main-links);
  margin-bottom: 4.8rem;
}

.main-text-h2 {
  font-size: 2.4rem;
  color: var(--main-text-h2);
  margin-bottom: 2.4rem;
}

.main-btn:link,
.main-btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border: none;
  cursor: pointer;
  border-radius: 9px;
  transition: all 0.3s;
  font-weight: 600;
  background-color: var(--main-links);
  color: var(--main-section-before);
}

.main-btn:hover,
.main-btn:active {
  background-color: var(--btn-hover);
}

.main-img img {
  width: 100%;
}

/* boxes section */

.boxes-section {
  padding: 9.6rem 0 4.8rem 0;
  background-color: var(--box-section-color);
}

.CSS-animation {
  padding-bottom: 14.4rem;
}

/* .box-section{
  margin-bottom: 6.4rem;
} */

.card-box {
  column-gap: 2.4rem !important;
  row-gap: 2.4rem !important;
}

.img-boxes-h2 {
  color: var(--main-links);
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 4.8rem;
}

.card {
  width: 100%;
  height: 45rem;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1.2rem 3.2rem var(--box-shadow);
}

.card-img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-img {
  width: 100%;
  height: 100%;
}

.card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(1.5rem);
  border-radius: 15px;
  color: #f4f7f8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
}

.card:hover .card-body {
  right: 0;
}

.card-title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.card-subtitle {
  text-transform: capitalize;
  font-size: 1.4rem;
}

.card-info {
  font-size: 1.6rem;
  line-height: 1.4;
  margin: 4.8rem 0 3.2rem 0;
}

.card-info-ani {
  text-transform: lowercase;
}

.card-btn {
  color: #091113;
  background-color: #8fabba;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}

/* footer section */

.footer {
  padding: 3.2rem 0 3.2rem 0;
  width: 100%;
  background-color: var(--footer-color);
}

.footer-logo {
  width: 4.8rem;
  height: 4.8rem;
  filter: var(--filter-brightness);
  display: block;
  margin-bottom: 1.2rem;
}

.copyright {
  font-size: 1.4rem;
  color: var(--footer-content);
  margin-top: auto;
}

.mail {
  margin-top: auto;
  padding-bottom: 1.2rem;
}

.mail-link:link,
.mail-link:visited {
  font-size: 1.4rem;
  color: var(--footer-content);
  transition: all 0.3s;
}

.mail-link:hover,
.mail-link:active {
  color: var(--btn-hover);
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.social-links {
  display: flex;
  gap: 1.2rem;
}

.social-icon {
  width: 3.2rem;
  height: 3.2rem;
}

.social:link,
.social:visited {
  color: var(--footer-content);
  transition: all 0.3s;
}

.social:hover,
.social:active {
  color: var(--btn-hover);
}
